@model IEnumerable<HWWeb.Models.RailwayCarriage>

@{
    ViewBag.Title = "Index";
}

<h2>Railway Carriage</h2>
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>
            Information!
        </strong>
        @TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" arial-label="Close">
            <span>
                &times;
            </span>
        </button>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>
            Success!
        </strong>
        @TempData["SuccessMessage"]
        <button type="button" class="close"
                data-dismiss="alert" arial-label="Close">
            <span>
                &times;
            </span>
        </button>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>
            Error!
        </strong>
        @TempData["ErrorMessage"]
        <button type="button" class="close"
                data-dismiss="alert" arial-label="Close">
            <span>
                &times;
            </span>
        </button>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<div>
    @using (Html.BeginForm("Index", "RailwayCarriages", FormMethod.Get))
    {

        <table>
            <tr>
                <td>
                    <span>
                        <b>  Search By: </b>
                        @Html.RadioButton("searchBy", "Type", true)
                        <text> Type </text>
                        @Html.RadioButton("searchBy", "NumberSeats")
                        <text> NumberSeats </text>
                    </span>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue", null, new
                    {
                        @class = "form-control",
               placeholder = "Enter what you want to search"
               })
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-success" />
                </td>
            </tr>
        </table>
    }
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberSeats)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSeats)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RailwayCarriageID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.RailwayCarriageID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RailwayCarriageID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
