@model IEnumerable<HWWeb.Models.CompositionWagons>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Composition Wagons</h2>
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>
            Information!
        </strong>
        @TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" arial-label="Close">
            <span>
                &times;
            </span>
        </button>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>
            Success!
        </strong>
        @TempData["SuccessMessage"]
        <button type="button" class="close"
                data-dismiss="alert" arial-label="Close">
            <span>
                &times;
            </span>
        </button>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>
            Error!
        </strong>
        @TempData["ErrorMessage"]
        <button type="button" class="close"
                data-dismiss="alert" arial-label="Close">
            <span>
                &times;
            </span>
        </button>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
    <div>
        @using (Html.BeginForm("Index", "CompositionWagons", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span>
                         <b> Search By: </b>
                            @Html.RadioButton("searchBy", "Number", true)
                            <text> Number </text>
                            @Html.RadioButton("searchBy", "RailwayCarriageID")
                            <text> RailwayCarriageID </text>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue", null, new
                        {
                            Class = "form-control",
                   placeholder = "Enter what you want to search"
                   })
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>
<br />
<br />
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RailwayCarriage.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RailwayCarriage.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",
               new { id = item.CompositionWagonsID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompositionWagonsID }
               , new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompositionWagonsID }
               , new { @class = "btn btn-danger" }
               )
            </td>
        </tr>
    }

</table>
